<% table_filters = [{"name" => "Product Name", "cache" => false, "prompt" => "Product Name", "width" => "200px", "type" => "select", "values" => Product.all.order(name: :asc).pluck(:name, :id)}] %>
<% table_actions = capture do %>
  <div class="btn-group">
    <%= link_to new_product_path, :remote => true, :class => 'btn btn-default' do %>
      <span class="fa fa-plus"></span> New Product
    <% end %>
  </div>
<% end %>

<%= render_datatable(Product, products_path(format: "json"), :table_actions => table_actions, :table_filters => table_filters, :columns => datatable_columns(Product, ["id","name", "price", "category", "zuora_id", "actions"])) %>
