<h3>Pull Product Catalog</h3>
<hr>
<div class="row">
  <div class="left-panel col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Request</strong></h3>
      </div>
      <div class="panel-body">
        <pre class="prettyprint">
client = @appinstance.target_login.client
response = client.rest_call(:url => client.rest_endpoint("catalog/products"))
resp["products"].each do |product|
  if products.where(:name => product["name"]).size == 0
    Product.create!(:name => product["name"], :price => product["productRatePlans"][0]["productRatePlanCharges"][0]["pricingSummary"][0], :category => product["category"])
  end
end
        </pre>
      </div>
    </div>
  </div>
  <div class="right-panel col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Response</strong></h3>
      </div>
      <div class="panel-body">
        <pre class="prettyprint">
<%= JSON.pretty_generate(@appinstance.target_login.client.rest_call(:url => @appinstance.target_login.client.rest_endpoint("catalog/products"))) %>
        </pre>
      </div>
    </div>
  </div>
</div>

<h3>Describe Call</h3>
<hr>
<div class="row">
  <div class="left-panel col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Request</strong></h3>
      </div>
      <div class="panel-body">
        <pre class="prettyprint">
client = @appinstance.target_login.client
resp = client.describe_call
        </pre>
      </div>
    </div>
  </div>
  <div class="right-panel col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Response</strong></h3>
      </div>
      <div class="panel-body">
        <pre class="prettyprint">
      <% client = @appinstance.target_login.client %>
      <% resp = client.describe_call %>
<%= JSON.pretty_generate(resp) %>
        </pre>
      </div>
    </div>
  </div>
</div>

<h3>Describe Call (Specific Object)</h3>
<hr>
<div class="row">
  <div class="left-panel col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Request</strong></h3>
      </div>
      <div class="panel-body">
        <pre class="prettyprint">
client = @appinstance.target_login.client
resp = client.describe_call("Account")
        </pre>
      </div>
    </div>
  </div>
  <div class="right-panel col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Response</strong></h3>
      </div>
      <div class="panel-body">
        <pre class="prettyprint">
      <% client = @appinstance.target_login.client %>
      <% resp = client.describe_call("Account") %>
<%= JSON.pretty_generate(resp) %>
        </pre>
      </div>
    </div>
  </div>
</div>

<style>



.panel{
  border-radius: 0px;
  border:none;
}

.panel-heading{
  background-color: #E5E8EB !important;
  border-color: #E5E8EB !important;
}

.panel-title, h1,h2,h3,h4,h5,h6,h7{
  color: #384B5D;
}

.panel-body{
  background-color: #E5E8EB;
  color: #6B96A1;
}

pre{
  padding:0px;
  max-height:300px;
}


</style>



