<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="green-header">
      <h2>Connect Starter Package</h2>
    </div>
    <ul class="nav tab-header">
      <li class="active"><a href="#rest">REST Call</a></li>
      <li class=""><a href="#soap">SOAP Call</a></li>
      <li class=""><a href="#gem">Gem Features</a></li>
      <li class=""><a href="#table">Data Table</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="rest">
        <%= render 'rest' %>
      </div>
      <div class="tab-pane" id="soap">
        <%= render 'soap' %>
      </div>
      <div class="tab-pane" id="gem">
        <%= render 'features' %>
      </div>
      <div class="tab-pane" id="table">
        <%= render 'products' %>
      </div>
      <div class="tab-pane" id="jobs">
      </div>
    </div>
  </div>
</div>


<% content_for :scripts do %>
  $(products).dataTable().fnSettings().aoServerParams.push({"sName": "user", "fn": function (aoData) { aoData.push({ "name": "product_name", "value": $('#product_name').val() })}});
  $('#product_name').select2({width: "100%", theme: "bootstrap", containerCssClass: "form-control input-sm", width: "300px"}).on("change", function (e){$(products).dataTable().api().draw(false)});
<% end %>
