<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="green-header">
      <h2>Connect Starter Package</h2>
    </div>
    <ul class="nav tab-header">
      <li class="active"><a href="#rest">REST Call</a></li>
      <li class=""><a href="#soap">SOAP Call</a></li>
      <li class=""><a href="#gem">Gem Features</a></li>
      <li class=""><a href="#table">Data Table</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="rest">
        <%= render 'rest' %>
      </div>
      <div class="tab-pane" id="soap">
        <%= render 'soap' %>
      </div>
      <div class="tab-pane" id="gem">
        <%= render 'features' %>
      </div>
      <div class="tab-pane" id="table">
        <%= render 'products' %>
      </div>
      <div class="tab-pane" id="jobs">
      </div>
    </div>
  </div>
</div>

<style>
.panel{
  border-radius: 0px;
  border:none;
}

.panel-heading{
  background-color: #E5E8EB !important;
  border-color: #E5E8EB !important;
}

.panel-title{
  color: #384B5D;
}

.panel-body{
  background-color: #E5E8EB;
  color: #6B96A1;
}

pre{
  padding:0px;
  max-height:300px;
}


</style>
